<html>
    <head>
        <title>{{.Title}}</title>
        <meta charset='UTF-8'>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <style>{{.Css}}</style>
    </head>
    <body>
        <div id="page-header-wrapper">
            <div id="header">
                <a id="logo" href="/">
                    <div id="bear-img" class="bear-img"></div>
                    <div class="logo-styled-text">Soft Side of Tech</div>
                </a>
            </div>
        </div>
        <div id="column-body" class="course-content">
            <h1>{{.Request.ConfigObj.Name}}</h1>
            {{ $url := .Request.Url }}
            {{ $courseDay := .Request.CourseDay }}
            {{ range $session := .Request.ConfigObj.Sessions }}
            
                {{ if (le $session.Day $courseDay) }}
                    <h4>Day {{$session.Day}}</h4>
                    <h3><a href="{{$url}}/{{$session.Url}}">{{$session.Name}}</a></h3> 
                {{ end }}
            {{ end }}
            {{.Body}}
        </div>
    </body>
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111529467-1"></script>
    <script>
        {{.JavaScript}}
    </script>
</html>